.content-view .readonly {
	display: block;
	padding: 5px;
	color: #666;
}

.content-view .errors li {
	text-indent: 2ex;
}

.sub-list h3 {
	display: block;
	clear: both;
	text-transform: uppercase;
	font-size: .87em;
	font-weight: normal;
	color: #aaa;
	margin: 0;
	padding: 0 0 5px 0;	
}

.content-view ul {
	list-style: none;
	list-style-image: none;
	list-style-position: inside;
}

.content-view ul li {
	clear: both;
	float: left;
	width: 99%;
	vertical-align: middle;
	margin-bottom: 5px;	
}

.content-view li:hover {
	background: #f1f1f1 url(../img/bg_list_hover_revert_gradient.png) left bottom repeat-x;
}

.content-view ul li p {
	float: left;
}

.content-view li img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 1ex 0 0;
}

.content-view label:after {
	content: ':';
}

.content-view label.error {
	color: #d00;
}

.content-view label.error:after {
	content: '*:';
}

.content-view .errors {
	margin: 13px;
	padding: 8px;
	background: #ccc;
	color: #300;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
	border-radius: 12px;
	list-style: none;
	list-style-position: inside;
	list-style-image: none;
	font-size: .9em;
}
.content-view .errors li {
	text-indent: 2ex;
}

.content-view .tracks {
	list-style: none;
	list-style-position: inside;
	list-style-image: none;
}
.content-view .tracks li {
	font-size: .9em;
	margin: 10px 10px 0px;
	padding: 10px 20px;
	-moz-border-radius: 22px;
	background: #ddd;
}

