.errors {
	background: url(../img/icons/ico_dialouge_large.png) left 5px no-repeat;
	margin: 20px;
	padding-left: 80px;
	color: #666;
	font-size: inherit;
}

.errors h3 {
	font-size: 1.1em;
}

.errors h4 {
	font-size: .87em;
}

.errors li {
	font-size: .9em;
	margin: 0;
	padding: 0;
}
